div.container {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  padding: 50px 0;
  box-shadow: 3px 3px 5px 6px rgba(233, 224, 224, 0.2);

}

card-content{
  display: flex;
  flex-direction: column;
  width: fit-content;
}
mat-form-field {
  display: block;
}
body {
  overflow: hidden;
  width: fit-content;
}








