
<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="reg">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form  class="regForm" [formGroup]="registrationForm">
      <mat-card-content>
        <!-- all input components -->
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field >
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <mat-form-field >
          <input matInput formControlName="phoneNumber" type="number">
        </mat-form-field>
      </mat-card-content>
      <button type="submit" mat-stroked-button color="accent" class="btn-block" (click)="onSubmit($event)">Register</button>
    </form>
  </mat-card>
</div>
