<div class="main-content">
<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <form [formGroup]="profileForm">

      <div class="row">
          <div class="col-lg-6">
            <mat-form-field appearance="outline" >
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" formControlName="name" [value]="name">
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field appearance="outline" >
                <mat-label>Email address</mat-label>
                <input matInput type="email" formControlName="email" [value]="email">
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field appearance="outline" >
                <mat-label>Phone Number</mat-label>
                <input matInput type="email" formControlName="number" [value]="number">
            </mat-form-field>
          </div>
      </div>
    </form>
      <div class="row">

      </div>
    </mat-card-content>
    <span class="form-actions">
      <mat-card-actions align="end">
        <button [disabled]="true" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="!editable">Save Changes</button>
      </mat-card-actions>
    </span>
  </mat-card>
</div>


