
  .container {
    height: 100vh; /* Set container height to full viewport height */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }

  .row {
    width: 100%; /* Set row width to fill the container */

  }

  .col-12 {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items horizontally */

    align-items: center; /* Center items vertically */
  }

  .app-header {
    justify-content: space-between; /* Distribute items evenly along the toolbar */
     /* Center items vertically */
    margin: 0 0 1em 0; /* Add some space below the header */
    margin-top: 0%;
    align-items: center;
  }

  .router-container {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: rgb(75, 75, 75);
  }
  .app-holder{
    background-color: rgb(80, 80, 80);
    margin: 0 0 1em 0; /* Add some space below the header */
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
  h2{
    align-self: center;
  }


