
<mat-card class="PasswordCard">
  <mat-card-header>
      <mat-card-title>Update Password</mat-card-title>
  </mat-card-header>


    <mat-card-content class="updatePasswordField">

      <form [formGroup]="updatePasswordForm">
        <!-- <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" formControlName="oldPassword">
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm New Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password">
        </mat-form-field>
      </form>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="updatePassword()">Update Password</button>
          <button type="reset" mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
