
<mat-card>
  <mat-card-header>
      <mat-card-title>Update Password</mat-card-title>
  </mat-card-header>


    <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" (input)="oldPasswordChange($event)">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password" (input)="newPasswordChange($event)">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm New Password</mat-label>
          <input matInput type="password" (input)="confirmPasswordChange($event)">
        </mat-form-field>


        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="updatePassword()">Update Password</button>
          <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
