mat-card-content.updatePasswordField {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

mat-card.PasswordCard{
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}
